body {
  font-family: Arial, Helvetica, sans-serif;
  background: gray;
}

h1 {
  background: blue;
  color: white;
  padding: 3px;
  margin: 0;
}
.fa-plus {
  float: right;
}

input {
  width: 100%;
}
#list {
  padding: 0;
  background: #f7f7f7;
  margin: 100px auto;
  width: 360px;
}
.completed {
  text-decoration: line-through;
  color: gray;
}

i.fa-trash-alt {
  height: 15px;
  /* display: none; */
  background: red;
}

div {
  padding: 30px;
}

div:nth-child(even) {
  background: greenyellow;
}
